#!/usr/bin/env bash
# *############################################################################
# shellcheck disable=SC1090,SC1091,SC2034,SC2154 #

function set_exports() {
    umask 022

    # 'todo' app
    # alias t='./todo.sh -d /path/to/your/todo.cfg'
    # 'TODOTXT_DEFAULT_ACTION=ls
    # export TODOTXT_DEFAULT_ACTION
    # 'TODOTXT_SORT_COMMAND='env LC_COLLATE=C sort -k 2,2 -k 1,1n'
    # export TODOTXT_SORT_COMMAND

    # System
    export LANG='en_US.UTF-8'
    export LC_ALL='en_US.UTF-8'
    export CGO_ENABLED=1
    SH_KEY_PATH="${HOME}/.ssh/rsa_id"
    export SH_KEY_PATH
    export LOCAL_IP=$(ipconfig getifaddr en0)
    export LDFLAGS="-L/usr/local/opt/zlib/lib"
    export CPPFLAGS="-I/usr/local/opt/zlib/include"
    export PKG_CONFIG_PATH="/usr/local/opt/zlib/lib/pkgconfig"
    export HISTSIZE='32768'
    export HISTFILESIZE="${HISTSIZE}"
    export HISTCONTROL='ignoreboth'

    # Python
    export PYTHONIOENCODING='UTF-8'
    # python sucks ... virtual environments suck ...
    # someone should find a better way to do this ... it's so stupid
    export WORKON_HOME="${HOME}/.virtualenvs"
    export PROJECT_HOME="${HOME}/Documents/coding/"
    source /usr/local/bin/virtualenvwrapper.sh

    # Java
    JAVA_HOME=$(/usr/libexec/java_home)
    export JAVA_HOME
    export M2_HOME="/usr/share/apache-maven-3.6.0"

    # Node
    export NODE_REPL_HISTORY="${HOME}/.node_history"
    export NODE_REPL_HISTORY_SIZE='32768'
    export NODE_REPL_MODE='sloppy'

    # Perl
    PERL_MM_OPT="INSTALL_BASE=${HOME}/perl5"
    export PERL_MM_OPT
    eval "$(perl -I"${HOME}/perl5/lib/perl5" -Mlocal::lib="${HOME}/perl5")"

    # Heroku autocomplete setup
    HEROKU_AC_BASH_SETUP_PATH="/Volumes/Data/skeptycal/Library/Caches/heroku/autocomplete/bash_setup" && test -f "$HEROKU_AC_BASH_SETUP_PATH" && source "$HEROKU_AC_BASH_SETUP_PATH"

    ############################################################################
    # Enable some Bash 4 features when possible:
    # Case-insensitive globbing (used in pathname expansion) : shopt -s nocaseglob;
    # Append to the Bash history file vs. overwriting it : shopt -s histappend;
    # Autocorrect typos in path names when using `cd` : shopt -s cdspell;
    # Autocd, e.g. `**/qux` will enter `./foo/bar/baz/qux`
    # Recursive globbing, e.g. `echo **/*.txt`
    for option in nocaseglob histappend cdspell autocd globstar; do
        shopt -s "$option" &>/dev/null
    done
}

function run_debug_exports() {
    # list current versions of common utilities
    ce "Script source:$MAIN $BASH_SOURCE$RESET"
    green "\$LANG is set to $LANG."
    green "\$LOCAL_IP is set to and exported as $LOCAL_IP."
}
function main_exports() {
    set_exports
    [[ $DEBUG == '1' ]] && run_debug_exports
}

main_exports
