[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
alabaster = "==0.7.12"
appdirs = "==1.4.3"
appnope = "==0.1.0"
argh = "==0.26.2"
astroid = "==2.3.3"
atomicwrites = "==1.3.0"
attrs = "==19.3.0"
autopep8 = "==1.4.4"
backcall = "==0.1.0"
black = "==19.10b0"
bleach = "==3.1.0"
certifi = "==2019.9.11"
chardet = "==3.0.4"
click = "==7.0"
coverage = "==4.5.4"
decorator = "==4.4.1"
defusedxml = "==0.6.0"
doc8 = "==0.8.0"
docutils = "==0.15.2"
entrypoints = "==0.3"
filelock = "==3.0.12"
flake8 = "==3.7.9"
hashedindex = "==0.5.0"
idna = "==2.8"
imagesize = "==1.1.0"
importlib-metadata = "==0.23"
ipykernel = "==5.1.3"
ipython = "==7.9.0"
ipywidgets = "==7.5.1"
isort = "==4.3.21"
itsdangerous = "==1.1.0"
jedi = "==0.15.1"
joblib = "==0.14.0"
jsonschema = "==3.1.1"
jupyter = "==1.0.0"
jupyter-client = "==5.3.4"
jupyter-core = "==4.6.1"
lazy-object-proxy = "==1.4.3"
livereload = "==2.6.1"
mccabe = "==0.6.1"
mistune = "==0.8.4"
more-itertools = "==7.2.0"
nbconvert = "==5.6.1"
nbformat = "==4.4.0"
notebook = "==6.0.2"
numpy = "==1.17.4"
pandas = "==0.25.3"
pandocfilters = "==1.4.2"
parso = "==0.5.1"
pathspec = "==0.6.0"
pathtools = "==0.1.2"
pbr = "==5.4.3"
pexpect = "==4.7.0"
pickleshare = "==0.7.5"
pipenv = "==2018.11.26"
pluggy = "==0.13.0"
port-for = "==0.3.1"
prompt-toolkit = "==2.0.10"
ptyprocess = "==0.6.0"
py = "==1.8.0"
pycodestyle = "==2.5.0"
pyflakes = "==2.1.1"
pylint = "==2.4.4"
pyobjc = "==6.1"
pyobjc-core = "==6.1"
pyobjc-framework-coreaudiokit = "==6.1"
pyobjc-framework-libdispatch = "==6.1"
pyparsing = "==2.4.2"
pyperclip = "==1.7.0"
pyrsistent = "==0.15.5"
pytest = "==5.3.0"
python-coveralls = "==2.9.3"
python-dateutil = "==2.8.1"
pytz = "==2019.3"
pyzmq = "==18.1.1"
qtconsole = "==4.5.5"
regex = "==2019.11.1"
requests = "==2.22.0"
restructuredtext-lint = "==1.3.0"
scipy = "==1.3.2"
six = "==1.12.0"
snowballstemmer = "==2.0.0"
sphinx-autobuild = "==0.7.1"
sphinxcontrib-applehelp = "==1.0.1"
sphinxcontrib-devhelp = "==1.0.1"
sphinxcontrib-htmlhelp = "==1.0.2"
sphinxcontrib-jsmath = "==1.0.1"
sphinxcontrib-qthelp = "==1.0.2"
sphinxcontrib-serializinghtml = "==1.1.3"
stevedore = "==1.31.0"
terminado = "==0.8.3"
testpath = "==0.4.4"
toml = "==0.10.0"
tornado = "==6.0.3"
tox = "==3.14.1"
traitlets = "==4.3.3"
typed-ast = "==1.4.0"
ujson = "==1.35"
urllib3 = "==1.25.6"
virtualenv = "==16.7.7"
virtualenv-clone = "==0.5.3"
watchdog = "==0.9.0"
wcwidth = "==0.1.7"
webencodings = "==0.5.1"
widgetsnbextension = "==3.5.1"
wrapt = "==1.11.2"
zipp = "==0.6.0"
Babel = "==2.7.0"
Cython = "==0.29.14"
Flask = "==1.1.1"
ipython_genutils = "==0.2.0"
Jinja2 = "==2.10.3"
jupyter_console = "==6.0.0"
Markdown = "==3.1.1"
MarkupSafe = "==1.1.1"
MouseInfo = "==0.1.2"
Pillow = "==6.2.1"
prometheus_client = "==0.7.1"
PyAutoGUI = "==0.9.48"
PyGetWindow = "==0.0.8"
Pygments = "==2.4.2"
PyMsgBox = "==1.0.7"
pyobjc-framework-Accounts = "==6.1"
pyobjc-framework-AddressBook = "==6.1"
pyobjc-framework-AdSupport = "==6.1"
pyobjc-framework-AppleScriptKit = "==6.1"
pyobjc-framework-AppleScriptObjC = "==6.1"
pyobjc-framework-ApplicationServices = "==6.1"
pyobjc-framework-AuthenticationServices = "==6.1"
pyobjc-framework-Automator = "==6.1"
pyobjc-framework-AVFoundation = "==6.1"
pyobjc-framework-AVKit = "==6.1"
pyobjc-framework-BusinessChat = "==6.1"
pyobjc-framework-CalendarStore = "==6.1"
pyobjc-framework-CFNetwork = "==6.1"
pyobjc-framework-CloudKit = "==6.1"
pyobjc-framework-Cocoa = "==6.1"
pyobjc-framework-Collaboration = "==6.1"
pyobjc-framework-ColorSync = "==6.1"
pyobjc-framework-Contacts = "==6.1"
pyobjc-framework-ContactsUI = "==6.1"
pyobjc-framework-CoreAudio = "==6.1"
pyobjc-framework-CoreBluetooth = "==6.1"
pyobjc-framework-CoreData = "==6.1"
pyobjc-framework-CoreHaptics = "==6.1"
pyobjc-framework-CoreLocation = "==6.1"
pyobjc-framework-CoreMedia = "==6.1"
pyobjc-framework-CoreMediaIO = "==6.1"
pyobjc-framework-CoreML = "==6.1"
pyobjc-framework-CoreMotion = "==6.1"
pyobjc-framework-CoreServices = "==6.1"
pyobjc-framework-CoreSpotlight = "==6.1"
pyobjc-framework-CoreText = "==6.1"
pyobjc-framework-CoreWLAN = "==6.1"
pyobjc-framework-CryptoTokenKit = "==6.1"
pyobjc-framework-DeviceCheck = "==6.1"
pyobjc-framework-DictionaryServices = "==6.1"
pyobjc-framework-DiscRecording = "==6.1"
pyobjc-framework-DiscRecordingUI = "==6.1"
pyobjc-framework-DiskArbitration = "==6.1"
pyobjc-framework-DVDPlayback = "==6.1"
pyobjc-framework-EventKit = "==6.1"
pyobjc-framework-ExceptionHandling = "==6.1"
pyobjc-framework-ExecutionPolicy = "==6.1"
pyobjc-framework-ExternalAccessory = "==6.1"
pyobjc-framework-FileProvider = "==6.1"
pyobjc-framework-FileProviderUI = "==6.1"
pyobjc-framework-FinderSync = "==6.1"
pyobjc-framework-FSEvents = "==6.1"
pyobjc-framework-GameCenter = "==6.1"
pyobjc-framework-GameController = "==6.1"
pyobjc-framework-GameKit = "==6.1"
pyobjc-framework-GameplayKit = "==6.1"
pyobjc-framework-ImageCaptureCore = "==6.1"
pyobjc-framework-IMServicePlugIn = "==6.1"
pyobjc-framework-InputMethodKit = "==6.1"
pyobjc-framework-InstallerPlugins = "==6.1"
pyobjc-framework-InstantMessage = "==6.1"
pyobjc-framework-Intents = "==6.1"
pyobjc-framework-IOSurface = "==6.1"
pyobjc-framework-iTunesLibrary = "==6.1"
pyobjc-framework-LatentSemanticMapping = "==6.1"
pyobjc-framework-LaunchServices = "==6.1"
pyobjc-framework-LinkPresentation = "==6.1"
pyobjc-framework-LocalAuthentication = "==6.1"
pyobjc-framework-MapKit = "==6.1"
pyobjc-framework-MediaAccessibility = "==6.1"
pyobjc-framework-MediaLibrary = "==6.1"
pyobjc-framework-MediaPlayer = "==6.1"
pyobjc-framework-MediaToolbox = "==6.1"
pyobjc-framework-MetalKit = "==6.1"
pyobjc-framework-ModelIO = "==6.1"
pyobjc-framework-MultipeerConnectivity = "==6.1"
pyobjc-framework-NaturalLanguage = "==6.1"
pyobjc-framework-NetFS = "==6.1"
pyobjc-framework-Network = "==6.1"
pyobjc-framework-NetworkExtension = "==6.1"
pyobjc-framework-NotificationCenter = "==6.1"
pyobjc-framework-OpenDirectory = "==6.1"
pyobjc-framework-OSAKit = "==6.1"
pyobjc-framework-OSLog = "==6.1"
pyobjc-framework-PencilKit = "==6.1"
pyobjc-framework-Photos = "==6.1"
pyobjc-framework-PhotosUI = "==6.1"
pyobjc-framework-PreferencePanes = "==6.1"
pyobjc-framework-PubSub = "==6.1"
pyobjc-framework-PushKit = "==6.1"
pyobjc-framework-Quartz = "==6.1"
pyobjc-framework-QuickLookThumbnailing = "==6.1"
pyobjc-framework-SafariServices = "==6.1"
pyobjc-framework-SceneKit = "==6.1"
pyobjc-framework-ScreenSaver = "==6.1"
pyobjc-framework-ScriptingBridge = "==6.1"
pyobjc-framework-SearchKit = "==6.1"
pyobjc-framework-Security = "==6.1"
pyobjc-framework-SecurityFoundation = "==6.1"
pyobjc-framework-SecurityInterface = "==6.1"
pyobjc-framework-ServiceManagement = "==6.1"
pyobjc-framework-Social = "==6.1"
pyobjc-framework-SoundAnalysis = "==6.1"
pyobjc-framework-Speech = "==6.1"
pyobjc-framework-SpriteKit = "==6.1"
pyobjc-framework-StoreKit = "==6.1"
pyobjc-framework-SyncServices = "==6.1"
pyobjc-framework-SystemConfiguration = "==6.1"
pyobjc-framework-SystemExtensions = "==6.1"
pyobjc-framework-UserNotifications = "==6.1"
pyobjc-framework-VideoSubscriberAccount = "==6.1"
pyobjc-framework-VideoToolbox = "==6.1"
pyobjc-framework-Vision = "==6.1"
pyobjc-framework-WebKit = "==6.1"
PyRect = "==0.1.4"
PyScreeze = "==0.1.25"
PyTweening = "==1.0.3"
PyYAML = "==5.1.2"
Send2Trash = "==1.5.0"
Sphinx = "==2.2.1"
Wand = "==0.5.7"
Werkzeug = "==0.16.0"

[requires]
python_version = "3.8"
