#!/usr/bin/env zsh
# -*- coding: utf-8 -*-
    # shellcheck shell=bash
    # shellcheck source=/dev/null
    # shellcheck disable=2178,2139

#? ######################## Include Files
    . ~/.dotfiles/.function_folder/a_init.inc
    . ~/.dotfiles/.function_folder/a_directories.inc
    . ~/.dotfiles/.function_folder/a_python.inc
    . ~/.dotfiles/.function_folder/a_network.inc
    . ~/.dotfiles/.function_folder/a_repo.inc

#? ######################## SCRIPT TESTS
    function run_debug_aliases() {
        # list current versions of common utilities
        ce "Script source:${MAIN} ${BASH_SOURCE}${RESET_FG}"
        green "ls status: $(type -a ls | grep aliased)"
    }

    function main_aliases() {
        [[ $SET_DEBUG == 1 ]] && run_debug_aliases
    }

main_aliases

# - references:
    # some utilities from https://justin.abrah.ms/dotfiles/zsh.html
